input[type=submit]:hover { background: #313428; }
a, a:link, a:visited { color: #2C445E; text-decoration: none; }
a:hover { color: #BF511F; }

#header { background: #091E36; border-bottom: 5px solid #0f3158; }
#site-slogan { color: #5680ad; }

/* top menu */
#top-navigation  { background: #061424; border-bottom: 1px solid #0C2845; }
#top-navigation .sf-menu a  { color: #FFF; }
#top-navigation .sf-menu ul li  { border: 1px solid #061321; }
#top-navigation .sf-menu a:hover, #top-navigation .sf-menu li:hover, #top-navigation .sf-menu li.iehover, #top-navigation .sf-menu ul li  { color: #FFF; background: #103259; }
#top-navigation .sf-menu ul a:hover, #top-navigation .sf-menu ul li.iehover, #top-navigation .sf-menu ul li:hover { color: #103259; background: #fff; }
#top-navigation .sf-menu ul li.iehover a.sf-with-ul { color: #103259; }

#top-navigation .sf-menu ul li:hover a,
#top-navigation .sf-menu ul li:hover li:hover a,
#top-navigation .sf-menu ul li:hover li:hover li:hover a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover a,
#top-navigation .sf-menu ul li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover a
{ color: #103259; }

#top-navigation .sf-menu ul li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover li a,
#top-navigation .sf-menu ul li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover li a 
{ color: #fff; }

#header-region #search-block-form { border: 3px solid #19508C; }

/* main navigation */
#navigation  { background: #003773; }
#navigation .sf-menu a  { color: #FFF; }
#navigation .sf-menu ul li  { border: 1px solid #0F3158; }
#navigation .sf-menu a:hover, #navigation .sf-menu li:hover, #navigation .sf-menu li.iehover, #navigation .sf-menu ul li  { background: #0F3158; color: #FFF; }
#navigation .sf-menu ul a:hover, #navigation .sf-menu ul li.iehover, #navigation .sf-menu ul li:hover { color: #0F3158; background: #fff; }
#navigation .sf-menu ul li.iehover a.sf-with-ul { color: #0F3158; }

#navigation .sf-menu ul li:hover a,
#navigation .sf-menu ul li:hover li:hover a,
#navigation .sf-menu ul li:hover li:hover li:hover a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover a,
#navigation .sf-menu ul li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover a
{ color: #0F3158; }

#navigation .sf-menu ul li:hover li a,
#navigation .sf-menu ul li:hover li:hover li a,
#navigation .sf-menu ul li:hover li:hover li:hover li a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover li a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover li a,
#navigation .sf-menu ul li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover li a 
{ color: #fff; }

.block-title { background: #003773; color: #FFF;  }
.block-title a { color: #fff; }
