body { background: #f0f0f0; }

#page { padding-bottom: 20px; }

#top-navigation { background: #111; color: #aaa; border-bottom: 1px solid #333; }
#top-navigation .section { width: 980px; margin: 0 auto; height: 25px; padding: 3px 0; }
#top-navigation a { color: #aaa; } 

#top-navigation .sf-menu  { text-transform: uppercase; margin: 0 2px; line-height: 1.1; }
#top-navigation .sf-menu a  { display: block; text-decoration: none; padding: 7px 10px 8px; color: #AAA; font-size: 10px; border-right: 1px solid #333; }
#top-navigation .sf-menu ul a  { border: none; }
#top-navigation .sf-menu ul li  { border: 1px solid #333; margin-top: -1px; }
#top-navigation .sf-menu a:hover, #top-navigation .sf-menu li:hover, #top-navigation .sf-menu li.iehover, #top-navigation .sf-menu ul li  { color: #FFF; background: #111; }
#top-navigation .sf-menu ul a:hover, #top-navigation .sf-menu ul li.iehover, #top-navigation .sf-menu ul li:hover { color: #373331; background: #FFF; }
#top-navigation .sf-menu ul li.iehover a.sf-with-ul { color: #373331; }
#top-navigation .sf-menu li li a  { padding: 7px 10px; line-height: 1.1; height: auto; font-size: 10px; width: 120px; }

#top-navigation .sf-menu li ul { margin-left: -8px; } 
#top-navigation .sf-menu li.first ul { margin-left: -7px; } 
#top-navigation .sf-menu ul.menu ul { margin-top: -2em; margin-left: 12em; }

#header { background: #1e1b1a; border-bottom: 5px solid #383332; color: #7d716d; }
#header .section { width: 980px; margin: 0 auto; }

#logo-title { float: left; font-family: 'Segoe UI', Arial, Helvetica, sans-serif; text-transform: uppercase; font-weight: bold; padding: 21px 0 25px 10px; }

#logo { float: left; margin-right: 20px; }
#name-and-slogan { float: left; }
.no-site-name #logo, .no-site-name #name-and-slogan { float: none; }

#site-name { letter-spacing: 1px; color: #fff; margin-bottom: 3px; font-size: 1.83333em; line-height: 1; }
#site-name a { color: #fff; }
#site-slogan { font-size: 0.91667em; line-height: 1; padding-top: 3px; } 

#header-region { float: right; padding-top: 25px; }

#header-region #block-search-form { text-align: right; }
#header-region #search-block-form { background: #efefef none; border: 3px solid #383332; padding: 0px 2px; line-height: 1; }
#header-region #search-block-form label { display: none; }
#header-region #search-block-form .form-text { border: none; background: #efefef; width: 231px; }
#header-region #search-block-form .form-submit { background: url('images/searchsubmit.gif') no-repeat scroll right 2px; text-indent: -9000px; width: 16px; height: 16px; border: none; cursor: pointer; opacity: 0.7; text-transform: capitalize; padding: 0; margin: 0; }

#navigation { background: url("images/topnav.jpg") repeat-x bottom #322C2C; color: #aaa; min-height: 34px; }
#navigation .section { width: 980px; margin: 0 auto; }

#navigation .sf-menu  { line-height: 1.1; float: left; }
#navigation .sf-menu a  { display: block; text-decoration: none; padding: 8px 12px 11px; color: #AAA; font-size: 14px; }
#navigation .sf-menu ul li  { border: 1px solid #474331; margin-top: -1px; }
#navigation .sf-menu a:hover, #navigation .sf-menu li:hover, #navigation .sf-menu li.iehover, #navigation .sf-menu ul li  { background: #373331; color: #FFF; }
#navigation .sf-menu ul a:hover, #navigation .sf-menu ul li.iehover, #navigation .sf-menu ul li:hover { color: #373331; background: #FFF; }
#navigation .sf-menu li li a  { padding: 7px 1em; line-height: 1; height: auto; font-size: 12px; }

#navigation .sf-menu li ul { margin-left: -6px; }
#navigation .sf-menu li ul ul { margin-top: -2em; margin-left: 12em; }

#navigation .feed-icon { float: right; display: block; padding-top: 8px; }

#main-wrapper { width: 960px;  margin: 20px auto; padding: 10px 10px 0; border: 1px solid #d3d1c7; background: #f5f5f5; }

/* layout */
#content { float: left; width: 960px; }
.sidebar-second #content { width: 640px; margin-left: 0; margin-right: -640px; }
.sidebar-first #content { width: 640px; margin-left: 320px; margin-right: -960px; }
.two-sidebars #content { width: 480px; margin-left: 240px; margin-right: -720px; }

#sidebar-first { float: left; width: 320px; margin-left: 0; margin-right: -320px; }
.two-sidebars #sidebar-first { width: 240px; margin-right: -240px; }

#sidebar-second { float: left; width: 320px; margin-left: 640px; margin-right: -940px; }
.two-sidebars #sidebar-second { width: 240px; margin-left: 720px; }
/* end layout */

#content .section { border: 1px solid #ccc; padding: 10px 15px; background: #fff; margin-bottom: 10px; min-height: 400px; }
#sidebar-first .section { margin-right: 10px; }
#sidebar-second .section { margin-left: 10px; }
#footer { width: 960px; margin: 0 auto 20px; padding: 10px 10px 0; border: 1px solid #ccc; background: #f5f5f5; }
#postamble { width: 980px; margin: 0 auto; }

.breadcrumb { padding-bottom: 0; }
#page-title { font-size: 1.83333em; line-height: 1.36364; margin: 5px 0 5px; }



.block { border: 1px solid #ccc; background: #fff; margin-bottom: 10px; }
.block-title { color: #333; font-size: 1em; line-height: 1.66667; padding: 4px 10px 3px; background: transparent url('images/feed-title-white.jpg') repeat-x left 0px; border-bottom: 1px solid #ccc; }
.block-title a { color: #333; }
.block-content { padding: 10px; }

#block-system-main { border-width: 0; }
#block-system-main .block-content { padding: 0; }

#header-region .block { background: transparent; color: #7d716d; border-width: 0; margin-left: 0; margin-right: 0; }
#header-region .block-title { color: #7d716d; background: transparent none; padding: 0; border-width: 0; }
#header-region .block-content { padding: 0; }

#footer .block { background: transparent; color: #333; border-width: 0; margin-left: 0; margin-right: 0; }
#footer .block-title { background: none; border: none; font-size: 14px; color: #444; padding: 0 0 10px; letter-spacing: -1px; margin: 0; } 
#footer .block-content { padding: 0; }



.node .submitted { color: #848485; font-size: 11px; text-transform: uppercase; }
.node .field-name-field-image { border: 1px solid #ccc; background: #fff; padding: 4px; line-height: 1; }

.node-teaser { border-bottom: 1px dotted #ccc; margin-bottom: 10px; padding-bottom: 10px; }
.node-teaser .field-name-field-image { float: left; margin: 0 10px 10px 0; }

.node-full .submitted { border-bottom: 1px dotted #ccc; margin-bottom: 10px; padding-bottom: 10px; }
.node-full .field-name-field-image { float: right; margin: 0 0 10px 10px; }

#comments { border: 1px solid #ccc; border-width: 1px; background: #fff; margin-bottom: 10px; padding: 0 10px; }
#comments h2.title { color: #333; font-size: 1em; line-height: 1.66667; margin: 0 -10px 10px; padding: 4px 10px 3px; background: transparent url('images/feed-title-white.jpg') repeat-x left 0px; border-bottom: 1px solid #ccc; }
#comments h2.comment-form { border-top: 1px solid #ccc; margin-top: 10px; }
#comments .submitted { margin-bottom: 0; padding-bottom: 0; border-bottom: 0; }
.comment { margin-bottom: 10px; border: 1px solid #ccc; padding: 10px; background-color: #f5f5f5; } 
.comment .user-picture { float: right; margin: 0 0 10px 10px; }

.comment h3 { font-weight: 700; font-style: normal; line-height: 20px; font-size: 14px; }



ul.primary, ul.primary li, ul.primary li a { padding-top: 2px; padding-bottom: 2px; }



ul.menu li { padding-top: 0; }
.block ul { padding-bottom: 0; }
