/***********************************************************
*                           RESET                          *
************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; background: transparent; } body { 
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: 
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
tr,th,td { vertical-align: baseline; }

/***********************************************************
*                        HTML ELEMENTS                     *
************************************************************/

body
{
  font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
  line-height: 1.66667;
  font-size: 75%;  /* 100% = 16px */
  color: #333;
}
html>body { font-size: 12px; /* for non-IE */}

h1,h2,h3 { }
h4,h5 {  }

h1 { font-size: 1.83333em; line-height: 1.36364; } /* 22px */
h2 { font-size: 1.66667em; line-height: 1.5; } /* 20px */
h3 { font-size: 1.5em; line-height: 1.66667; } /* 18px */
h4 { font-size: 1.33333em; line-height: 1.25; } /* 16px */
h5 { font-size: 1.16667em; line-height: 1.42857; } /* 14px */
h6 { font-size: 1em; line-height: 1.66667; } /* 12px */

p { margin: 1.66667em 0; }
p { _overflow: visible; _height: 1%; } /* IE6 italics bug */

ul, ol, dl { margin: 0; }
ul ul, ol ol, ul ol, ol ul { margin: 0 0; }

ul, ol { margin-left: 0; padding-left: 2em; }
ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

a { color: #313428; text-decoration: none; }
a:link {}
a:visited {}
a:hover, a:focus { color: #cc0000; }
a:active {}

img { border: 0; }
fieldset { border: 1px solid #ccc; padding: 9px; }

blockquote        { border-left: 2px solid #CCC; color: #666; padding: 5px 10px 1px; margin: 10px; font-style: normal; }
code          { background: #EAEAEA; color: #333; font-family: Consolas, Monaco, Courier, monospace; font-size: 11px; margin: 1px 0; padding: 1px 3px; }
pre code        { background: #322E2C; border: 1px solid #635957; color: #FFF; display: block; overflow: scroll; padding: 1.5em 1.75em; }

input[type=text], input[type=password], textarea  { background: url("images/form.jpg") repeat-x top #FFF; border: 1px solid #CCC; padding: 5px 3px; }
input[type=submit]  { font-family: 'Lucida Grande', Arial, Helvetica, sans-serif; background: url("images/feed-title-white.jpg") repeat-x; border: 1px solid #CCC; padding: 5px 10px; font-size: 12px; color: #000; font-weight: 700; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
input[type=submit]:hover  { background: #313428; color: #FFF; }


table, th, td     { border: 1px solid #CCC; }
th, thead th      { font-weight: 700; color: #333; background: #DDD; }
td, tbody td      { background: #F0F0F0; }
table  { border-collapse: collapse; border-spacing: 0; }
th, td  { padding: 5px; }

dl  { margin: 10px 0; font-size: 14px; }
dl dt  { color: #666; padding-bottom: 3px; }
dl dd  { margin: 0 0 10px 0; line-height: 1.5em; }

